In [29]:
import psycopg2
from dotenv import load_dotenv
import os

# Load environment variables from .env file

# Get the current directory
current_dir = os.getcwd()

# Climb two directories up
for _ in range(2):
    current_dir = os.path.dirname(current_dir)

# Join the parent directory with the .env filename
dotenv_path = os.path.join(current_dir, '.env')

# Load the .env file
load_dotenv(dotenv_path)


# Define your connection parameters
db_name = os.getenv("POSTGRES_DB")
db_user = os.getenv("POSTGRES_USER")
db_password = os.getenv("POSTGRES_PASSWORD")
db_host = os.getenv("POSTGRES_HOST", "localhost")  # or the IP address of your Docker container
db_port = os.getenv("DB_PORT", "5432")  # or the port your PostgreSQL server is listening on

# Create a connection
conn = psycopg2.connect(
    dbname=db_name,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

# Create a cursor object
cur = conn.cursor()

# Execute a query
cur.execute("SELECT * FROM events ; ")

# Fetch all the rows
rows = cur.fetchall()

In [25]:
# Execute a query to get all schemas
cur.execute("SELECT schema_name FROM information_schema.schemata;")

# Fetch all the rows
schemas = cur.fetchall()

# Print all schemas
for schema in schemas:
    print(f"Schema: {schema[0]}")
    # Execute a query to get all tables in the current schema
    cur.execute(f"SELECT table_name FROM information_schema.tables WHERE table_schema = '{schema[0]}';")
    # Fetch all the rows
    tables = cur.fetchall()
    # Print all tables in the current schema
    for table in tables:
        print(f"  Table: {table[0]}")

Schema: public
  Table: events
Schema: information_schema
  Table: collations
  Table: information_schema_catalog_name
  Table: applicable_roles
  Table: domain_constraints
  Table: administrable_role_authorizations
  Table: collation_character_set_applicability
  Table: attributes
  Table: character_sets
  Table: column_udt_usage
  Table: check_constraint_routine_usage
  Table: column_column_usage
  Table: check_constraints
  Table: constraint_table_usage
  Table: column_domain_usage
  Table: columns
  Table: column_privileges
  Table: constraint_column_usage
  Table: domain_udt_usage
  Table: domains
  Table: enabled_roles
  Table: key_column_usage
  Table: parameters
  Table: table_privileges
  Table: referential_constraints
  Table: sql_features
  Table: role_column_grants
  Table: routine_column_usage
  Table: routine_privileges
  Table: role_routine_grants
  Table: routine_routine_usage
  Table: sql_implementation_info
  Table: routine_sequence_usage
  Table: routine_table_usage
  Table: routines
  Table: schemata
  Table: sql_parts
  Table: sequences
  Table: transforms
  Table: sql_sizing
  Table: role_table_grants
  Table: table_constraints
  Table: triggers
  Table: tables
  Table: triggered_update_columns
  Table: udt_privileges
  Table: role_udt_grants
  Table: usage_privileges
  Table: role_usage_grants
  Table: user_defined_types
  Table: view_column_usage
  Table: foreign_servers
  Table: view_routine_usage
  Table: view_table_usage
  Table: _pg_foreign_tables
  Table: views
  Table: data_type_privileges
  Table: element_types
  Table: _pg_foreign_table_columns
  Table: foreign_table_options
  Table: column_options
  Table: _pg_foreign_data_wrappers
  Table: foreign_data_wrapper_options
  Table: foreign_data_wrappers
  Table: _pg_foreign_servers
  Table: foreign_tables
  Table: foreign_server_options
  Table: _pg_user_mappings
  Table: user_mapping_options
  Table: user_mappings
Schema: pg_catalog
  Table: pg_statistic
  Table: pg_type
  Table: pg_foreign_table
  Table: pg_authid
  Table: pg_shadow
  Table: pg_roles
  Table: pg_statistic_ext_data
  Table: pg_hba_file_rules
  Table: pg_settings
  Table: pg_file_settings
  Table: pg_backend_memory_contexts
  Table: pg_ident_file_mappings
  Table: pg_config
  Table: pg_shmem_allocations
  Table: pg_tables
  Table: pg_user_mapping
  Table: pg_replication_origin_status
  Table: pg_subscription
  Table: pg_attribute
  Table: pg_proc
  Table: pg_class
  Table: pg_attrdef
  Table: pg_constraint
  Table: pg_inherits
  Table: pg_index
  Table: pg_operator
  Table: pg_statio_all_sequences
  Table: pg_opfamily
  Table: pg_opclass
  Table: pg_am
  Table: pg_amop
  Table: pg_amproc
  Table: pg_language
  Table: pg_largeobject_metadata
  Table: pg_aggregate
  Table: pg_statistic_ext
  Table: pg_rewrite
  Table: pg_trigger
  Table: pg_event_trigger
  Table: pg_description
  Table: pg_cast
  Table: pg_enum
  Table: pg_namespace
  Table: pg_conversion
  Table: pg_depend
  Table: pg_database
  Table: pg_db_role_setting
  Table: pg_tablespace
  Table: pg_auth_members
  Table: pg_shdepend
  Table: pg_shdescription
  Table: pg_ts_config
  Table: pg_ts_config_map
  Table: pg_ts_dict
  Table: pg_ts_parser
  Table: pg_ts_template
  Table: pg_extension
  Table: pg_foreign_data_wrapper
  Table: pg_foreign_server
  Table: pg_policy
  Table: pg_replication_origin
  Table: pg_default_acl
  Table: pg_init_privs
  Table: pg_seclabel
  Table: pg_shseclabel
  Table: pg_collation
  Table: pg_parameter_acl
  Table: pg_partitioned_table
  Table: pg_range
  Table: pg_transform
  Table: pg_sequence
  Table: pg_publication
  Table: pg_publication_namespace
  Table: pg_publication_rel
  Table: pg_subscription_rel
  Table: pg_group
  Table: pg_user
  Table: pg_policies
  Table: pg_rules
  Table: pg_views
  Table: pg_matviews
  Table: pg_indexes
  Table: pg_sequences
  Table: pg_stats
  Table: pg_stats_ext
  Table: pg_stats_ext_exprs
  Table: pg_publication_tables
  Table: pg_locks
  Table: pg_cursors
  Table: pg_available_extensions
  Table: pg_available_extension_versions
  Table: pg_prepared_xacts
  Table: pg_prepared_statements
  Table: pg_seclabels
  Table: pg_timezone_abbrevs
  Table: pg_timezone_names
  Table: pg_stat_all_tables
  Table: pg_stat_xact_all_tables
  Table: pg_stat_xact_user_tables
  Table: pg_stat_sys_tables
  Table: pg_stat_xact_sys_tables
  Table: pg_stat_user_tables
  Table: pg_statio_all_tables
  Table: pg_statio_sys_tables
  Table: pg_statio_user_tables
  Table: pg_stat_all_indexes
  Table: pg_stat_sys_indexes
  Table: pg_stat_user_indexes
  Table: pg_statio_all_indexes
  Table: pg_statio_sys_indexes
  Table: pg_statio_user_indexes
  Table: pg_statio_sys_sequences
  Table: pg_statio_user_sequences
  Table: pg_stat_activity
  Table: pg_stat_replication
  Table: pg_stat_slru
  Table: pg_stat_wal_receiver
  Table: pg_stat_recovery_prefetch
  Table: pg_stat_subscription
  Table: pg_stat_ssl
  Table: pg_stat_gssapi
  Table: pg_replication_slots
  Table: pg_stat_replication_slots
  Table: pg_stat_database
  Table: pg_stat_database_conflicts
  Table: pg_stat_user_functions
  Table: pg_stat_xact_user_functions
  Table: pg_stat_archiver
  Table: pg_stat_bgwriter
  Table: pg_stat_io
  Table: pg_stat_wal
  Table: pg_stat_progress_analyze
  Table: pg_stat_progress_vacuum
  Table: pg_stat_progress_cluster
  Table: pg_stat_progress_create_index
  Table: pg_stat_progress_basebackup
  Table: pg_stat_progress_copy
  Table: pg_user_mappings
  Table: pg_stat_subscription_stats
  Table: pg_largeobject
Schema: pg_toast

In [30]:
import pandas as pd

# Define the column names for your DataFrame
column_names = ["id", "user", "event", "timestamp", "text", "action_name", "metadata"]

# Create the DataFrame
df = pd.DataFrame(rows, columns=column_names)
import json
from pandas import json_normalize

# Convert the JSON strings in the 'metadata' column to dictionaries
df['metadata'] = df['metadata'].apply(json.loads)

# Unnest the 'metadata' column into a separate DataFrame
metadata_df = json_normalize(df['metadata'])

# Add a suffix to the column names in metadata_df
metadata_df.columns = [str(col) + '_metadata' for col in metadata_df.columns]

# Join the DataFrames
df2 = df.drop(columns=['metadata']).join(metadata_df)

df.head()

,id,user,event,timestamp,text,action_name,metadata
0,1,user,action,1.702754e+09,None,action_session_start,"{'event': 'action', 'timestamp': 1702754175.57..."
1,2,user,session_started,1.702754e+09,None,None,"{'event': 'session_started', 'timestamp': 1702..."
2,3,user,action,1.702754e+09,None,action_listen,"{'event': 'action', 'timestamp': 1702754175.57..."
3,4,user,user,1.702754e+09,greet,None,"{'event': 'user', 'timestamp': 1702754176.9069..."
4,5,user,user_featurization,1.702754e+09,None,None,"{'event': 'user_featurization', 'timestamp': 1..."

In [34]:
df.loc[df['action_name']=='utter_happy','metadata']

10    {'event': 'action', 'timestamp': 1702754194.76...
Name: metadata, dtype: object

In [35]:
metadata_df.head()

,event_metadata,timestamp_metadata,name_metadata,policy_metadata,confidence_metadata,action_text_metadata,hide_rule_turn_metadata,metadata.model_id_metadata,metadata.assistant_id_metadata,text_metadata,...,parse_data.response_selector.default.response.utter_action_metadata,parse_data.response_selector.default.ranking_metadata,use_text_for_featurization_metadata,metadata.utter_action_metadata,data.elements_metadata,data.quick_replies_metadata,data.buttons_metadata,data.attachment_metadata,data.image_metadata,data.custom_metadata
0,action,1.702754e+09,action_session_start,None,1.0,NaN,False,f103e03f3fba4252aaa29cf620dcf365,20231203-154440-odious-bollard,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,session_started,1.702754e+09,NaN,NaN,NaN,NaN,NaN,f103e03f3fba4252aaa29cf620dcf365,20231203-154440-odious-bollard,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,action,1.702754e+09,action_listen,None,NaN,NaN,False,f103e03f3fba4252aaa29cf620dcf365,20231203-154440-odious-bollard,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,user,1.702754e+09,NaN,NaN,NaN,NaN,NaN,f103e03f3fba4252aaa29cf620dcf365,20231203-154440-odious-bollard,hi,...,utter_None,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,user_featurization,1.702754e+09,NaN,NaN,NaN,NaN,NaN,f103e03f3fba4252aaa29cf620dcf365,20231203-154440-odious-bollard,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN